.post{
    width: 700px;
    background-color: rgb(53, 139, 185);
    height: 130px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column; 
}
.titlePost{
    color: rgb(57, 100, 77);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;  
}
.textPost{
    color: rgb(57, 100, 77);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin: 0 0 0 10px;
    
}